

<footer class="text-center text-white bg-light">
    <!-- Grid container -->
    <div class="container">
        <!-- Instagram -->
        <a
           class="btn btn-link btn-floating btn-md text-dark m-1"
           href="https://www.instagram.com/oscarumana/"
           target="_blank"
           role="button"
           data-mdb-ripple-color="dark"
           ><i class="fab fa-instagram"></i
          ></a>

        <!-- Linkedin -->
        <a
           class="btn btn-link btn-floating btn-md text-dark m-1"
           href="https://www.linkedin.com/in/oscarumana21/"
           target="_blank"
           role="button"
           data-mdb-ripple-color="dark"
           ><i class="fab fa-linkedin"></i
          ></a>
        <!-- Github -->
        <a
           class="btn btn-link btn-floating btn-md text-dark m-1"
           href="https://github.com/oscaru21"
           target="_blank"
           role="button"
           data-mdb-ripple-color="dark"
           ><i class="fab fa-github"></i
          ></a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-dark pb-3">
      <h7>© 2022 All rights reserved</h7>
    </div>
  </footer>