<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
      <!--Image-->
      <div class="col-10 col-sm-8 col-lg-6">
        <svg class="home__blob primary-color" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0" mask-type="alpha">
              <path d="M49.6,-65.8C62.5,-59,70,-42.1,71.6,-25.9C73.3,-9.7,69.1,5.7,63.1,19.3C57,32.9,49,44.7,38.2,55.2C27.3,65.7,13.7,74.9,0.3,74.4C-13,74,-26,63.8,-36.7,53.3C-47.4,42.8,-55.9,31.8,-61.6,18.9C-67.4,6,-70.5,-9,-67.4,-22.9C-64.3,-36.9,-55,-49.9,-42.7,-56.9C-30.4,-63.9,-15.2,-65,1.6,-67.2C18.4,-69.3,36.7,-72.6,49.6,-65.8Z" transform="translate(100 100)" />
            </mask>
            <g mask="url(#mask0)">
              <path d="M49.6,-65.8C62.5,-59,70,-42.1,71.6,-25.9C73.3,-9.7,69.1,5.7,63.1,19.3C57,32.9,49,44.7,38.2,55.2C27.3,65.7,13.7,74.9,0.3,74.4C-13,74,-26,63.8,-36.7,53.3C-47.4,42.8,-55.9,31.8,-61.6,18.9C-67.4,6,-70.5,-9,-67.4,-22.9C-64.3,-36.9,-55,-49.9,-42.7,-56.9C-30.4,-63.9,-15.2,-65,1.6,-67.2C18.4,-69.3,36.7,-72.6,49.6,-65.8Z" transform="translate(100 100)" />
              <image class="home__blob-img" x="40" y="20" xlink:href="./images/png/pp-montreal-removebg-preview.png"/>
            </g>
          </svg>
        </div>
        
        <!--Content-->
        <div class="col-lg-6">
          <h2 class="display-5 fw lh-1 mb-3">Hey there,</h2>
          <h1 class="display-5 fw-bold lh-1 mb-3">I'm Oscar Umana</h1>
          <p class="lead">I'm a fullstack web developer currently studying Aritficial Intelligence in Centennial College.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary btn-lg px-4 me-md-2" href="/about">About me</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </div>