
<div class="container py-5">
    <div
    class="row flex-lg-row align-items-center justify-content-center g-5 py-5"
    >
    
    <div class="row">
        <!--Projects-->
        <% projects.forEach((project) => { %>
          <%- include('partials/card.ejs', {...project}) %> 
        <% }); %> 
        <% projects.forEach((project) => { %>
          <%- include('partials/card.ejs', {...project}) %> 
        <% }); %> 
</div>
</div>
