<section class="min-vh-100">
  <div class="container">
  <table class="table table-striped mt-10">
    <thead>
      <tr>
        <% Object.keys(contactList[0]._doc).forEach(key => { %>
            <% if(key != '_id') { %> 
              <th scope="col"><%= key %></th>
            <% }; %> 
        <% }); %> 
        <th class="text-center" scope="col">Update</th>
        <th class="text-center" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <% contactList.forEach(contact => { %>
            <tr>
                <% Object.keys(contact._doc).forEach(key => { %>
                  <% if(key != '_id') { %>
                    <td><%= contact._doc[key] %></td>
                    <% }; %> 
                <% }); %>
                <td class="text-center">
                  <a href="/contacts/edit/<%= contact._id %>" class="btn btn-sm">
                  <i class="fas fa-pencil-alt"></i> Edit</a>
                </td>
                <td class="text-center">
                  <a href="/contacts/delete/<%= contact._id %>" class="btn btn-sm">
                  <i class="fas fa-trash"></i></a>
                </td>
            </tr>
        <% }); %> 
    </tbody>
  </table>
</div>
</section>

